@using System.Linq;
@model IEnumerable<VersioningSummary.VersionDll>

@{
    ViewData["Title"] = "Version";

    var group1 = Model.Where(it=>it.ReleaseNotes!=null).GroupBy(it => it.Name).OrderBy(it=>it.Key).ToArray();
    var group2 = Model.Where(it => it.ReleaseNotes== null).GroupBy(it => it.Name).OrderBy(it => it.Key).ToArray();
    var group = group1.Union(group2);
}

<h2>Version</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseNotes)
            </th>
            <th>
               Version
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRelease)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var key in group)
{
    var all = key.OrderByDescending(it => it.DateRelease).ToList();
    var max = all[0];
    all.Remove(max);
        <tr>
            <td><B>@max.Name</B></td>
            <td>
                <B>@max.ReleaseNotes<B>
            </td>
            <td>
                <B>@max.Version.ToString()<B>
            </td>
            <td>
                <B>@max.DateRelease.ToString("yyyy MMMM dd HH:mm:ss")<B>
            </td>

        </tr>

    foreach (var item in all.OrderByDescending(it => it.DateRelease))
    {
        <tr>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseNotes)
            </td>
            <td>
                @item.Version.ToString()
            </td>
            <td>
                @item.DateRelease.ToString("yyyy MMMM dd HH:mm:ss")
            </td>

        </tr>
    }
}
    </tbody>
</table>
